body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 7.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

.pro {
  font-weight: normal;
}

.bottom-cloud {
  position: absolute;
  left: 150px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 150px;
  top: 40px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  text-decoration: none;
  color: #66BFBF;
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #EAF6F6;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-image1 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.umra-g {
  margin-top: 50px;
}

.intro-text {
  color: #40514E;
  width: 25%;
  margin: auto;
  margin-bottom: 50px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  width: 5%;
  border-width: 5px;
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 50px;
}

.footer-link {
  color: #11999E;
}

.copyright {
  color: #EAF6F6;
  margin-top: 15px;
  font-size: 0.75rem;
}

.BUTTON_HIO {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   width: 239px;
   font-size: 24px;
   font-weight: 100;
   padding: 40px;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_HIO:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC9AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC9AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC9AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC9AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC9AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}

p {
  line-height: 2;
}
